<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.safaak.turkishbutton">

    <application
        android:allowBackup="true"
        android:icon="@drawable/turkishbutton"
        android:label="@string/app_name"
        android:roundIcon="@drawable/turkishbutton"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.google.android.gms.ads.APPLICATION_ID"
            android:value="ca-app-pub-2480250351827652~6402520039"/>
    </application>

</manifest>